*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body{
    background-image: url(/AfriLearn/images/programs\ bk\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

.header{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.logo img {
    width: 324px; 
    height: auto;  
}

.nav-bar ul{
    display: flex;
    gap: 50px;
    margin: 20px 80px;
}

.nav-bar ul a{
    text-decoration: none;
    color: #000000;
}

.sub-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}

.sub-nav1, .sub-nav2{
    background-color: #1f51d17c;
    padding: 7px 30px;
    color: #D9D9D9;
    border-radius: 25px;
}

.sub-nav2{
    background-color: #1f51d1;
    padding: 7px 45px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    max-width: auto;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
p {
    font-size: 23px;
    margin-bottom: 20px;
}

input::placeholder{
    color: #e9e1e1;
    font-size: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 50%;
    padding: 30px 60px;
    margin-bottom: 15px;
    margin-top: 45px;
    font-size: 22px;
    background-color: #1f51d182;
    border: 1px solid #918e8e;
    border-radius: 32px;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: inherit;
}

.toggle-buttons button {
    width: 28%;
    padding: 20px 60px;
    border: none;
    background-color: #1f51d182;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    font-size: 30px;
}

.toggle-buttons button:not(:last-child) {
    margin-right: 70px;
}

.toggle-buttons button.active {
    background-color: #0056b3;
}

.verification-code-inputs input {
    width: 40px;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 2em;
    margin-right: 40px;
}

button {
    width: 11%;
    padding: 30px 50px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0056b3;
    font-size: 23px;
    color: white;
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
footer {
    background-color:#1f51d182 ;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
    font-size: 16px;
}

.footer-left ul {
    line-height: 25px;
    list-style: none;
    
}

.footer-content a {
    color: black;
}

.footer-content a:hover{
    background-color: #1f51d1;
    color: white;
}

.footer-center{
    text-align: center;
}

.footer-center ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.fa-facebook{
    font-size: 30px;
    color: rgb(57, 57, 178);
}
.fa-twitter{
    font-size: 30px;
}
.fa-instagram{
    font-size: 30px;
}
.fa-envelope{
    font-size: 30px;
}

.footer-content input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.footer-content button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.copyright {
    text-align: center;
    color: #000000;
    font-size: 18px;
}
.subscribe-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.subscribe-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}
.subscribe-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .header{
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
    }
    
    .logo img{
        width: 50px;
        height: 10vh;
        margin-left: 2rem;
    }
    .nav-bar ul{
        display: flex;
        gap: 10px;
        margin-right: 10px;
    }
    
    .nav-bar ul a{
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
    
    
    .search-programs input{
        margin-top: 20px;
        text-align: center;
        width: 100vw;
        height: 50px;
        border-radius: 50px;
        background-color: #D9D9D9;
        font-size: 15px;
        color: #555454;
        border: none;
    }
    
    .search-programs{
        text-align: center;
    } 

}