body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* .logo {
    font-size: 1.5em;
    font-weight: bold;
} */

.logo {
    display: flex; 
    align-items: center; 
  }
  
  .logo img {
    width: 100px; 
    height: auto;  
    margin-right: 1rem; 
    border-radius: 40px;
  }
  
  .logo h1 {
    font-size: 1.5rem; 
    margin: 0; 
    color: hsl(189, 64%, 54%); 
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

.form-container {
    margin: 50px auto;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    background-color: rgb(103,203,231);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid rgb(103,203,231);
    border-radius: 5px;
    background-color: #e0f7fa;
}

.verification-code {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.verification-code input {
    width: 40px;
    padding: 10px;
    border: 2px solid rgb(103,203,231);
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    background-color: #e0f7fa;
}

.code-expiry {
    color: #555;
    font-size: 0.9em;
    margin-bottom: 20px;
}
