
*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    /* background-image: url(/AfriLearn/images/background.jpg);
    /* background-image: url(/AfriLearn/images/background\ 2.png); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: #fff;
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}


.logo img {
    width: 150px; 
    height: auto; 
    margin-left: 100px;
    margin-top: 30px;
}

.nav-bar ul{
    display: flex;
    gap: 50px;
    margin: 20px 80px;
}

.nav-bar ul a{
    text-decoration: none;
    color: #000000;
}

/* .nav-bar ul a:hover{
    background-color: #007bffa5;
    padding: 5px 10px;
    border-radius: 5px;
} */

.sub-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}

.sub-nav1{
    background-color: #000;
    padding: 7px 30px;
    border-radius: 7px;
}

.sub-nav li a{
    color: #D9D9D9;
}


.form-container {
    margin: 50px auto 50px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.tab-group {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.tab-btn {
    background-color: #000;
    border: none;
    color: aliceblue;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-btn.active {
    background-color: #000;
}

.input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #1f51d1;
    border-radius: 5px;
    background-color: #1f51d17c;
    color: aliceblue;
    font-size: 17px;
}

.btn.register {
    background-color: #1f51d1;
    border: none;
    color: #ffffff;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* footer section */
footer {
    background-color:#1f51d182 ;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
    font-size: 16px;
}

.footer-left ul {
    line-height: 25px;
    
}

.footer-content a {
    color: black;
}

.footer-content a:hover{
    color: #c0c4cf;
}

.footer-center{
    text-align: center;
}

.footer-center ul{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.footer-content input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.footer-content button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.copyright {
    text-align: center;
    color: #000000;
    font-size: 18px;
}
